@font-face {
  font-family: 'josefin_sans';
  src: url('../fonts/josefinsans-regular.woff2') format('woff2'),
  url('../fonts/josefinsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
