@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixin.scss";

*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.b-header {
  &__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  &__logo {
    min-width: 120px;
    height: 100px;
    margin-right: 20px;
    background: #777777;
  }
  &__title {
    min-width: 280px;
    flex-basis: 100%;
    height: 100px;
    background: #777777;
  }
  &__contacts {
    min-width: 520px;
    flex-basis: 100%;
    height: 100px;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background: #777777;
    a {
      color: white;
      text-decoration: none;
    }
    :nth-child(n+2) {
      border-bottom: 1px solid white;
    }
  }
}

.b-content {
  &__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    min-width: 185px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__navigation {
    padding: 18px 22px;
    margin-bottom: 20px;
    background: #777777;
  }
  &__nav-item {
    list-style-type: none;
    :only-child {
      color: white;
      text-decoration: none;
    }
  }
  &__img--left {
    height: 140px;
    background: #777777;
  }
  &__right {
    flex-basis: 100%;
  }
}

.b-right {
  width: 755px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  &__inform {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
  }
  &__inform-title {
    padding-bottom: 20px;
  }
  &__inform-list {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    list-style-type: square;
  }
  &__images {
    margin-bottom: 20px;
  }
  &__text-one {
    width: 49%;
    padding: 25px 20px;
    background-color: #dcdcdc;
  }
  &__text-two {
    width: 49%;
    padding: 25px 20px;
    background-color: #dcdcdc;
  }
}

.b-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    height: 150px;
    width: 125px;
    margin-right: 20px;
    background-color: #dcdcdc;
  }
}

.b-footer {
  &__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
  }
  &__lists {
    margin-right: 20px;
    padding: 20px 30px;
    flex-basis: 32%;
    flex-grow: 1;
    background-color: #777777;
  }
  &__list {
    width: 120px;
    display: inline-block;
    list-style-type: none;
    :only-child {
      text-decoration: none;
      color: white;
    }
  }
  &__services {
    flex-basis: 32%;
    padding: 20px 30px;
    flex-grow: 1;
    background-color: #777777;
  }
  &__services-item {
    list-style-type: none;
    :only-child {
      text-decoration: none;
      color: white;
    }
    :before {
      content: "■ ";
    }
  }
  &__other-elements {
    margin-left: 20px;
    flex-basis: 32%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__other-element {
    height: 45%;
    background-color: #777777;
  }
  &__other-element {
    height: 45%;
    background-color: #777777;
  }
}
